@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@media screen {

    body {margin: 15%;
    margin-top: auto;
    font-family: 'Montserrat', 'sans-serif';
    overflow-x: hidden;
    background-color: rgb(255, 249, 242);
}

.navbar-nav {

    margin-top: 20px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 650; }

    .navbar-brand   
{
    font-family: "Lobster", sans-serif;
    font-size: 35px;
    color: cornflowerblue;}

    .carousel-item img{
    display: flex;
    height: 25em; /* Ajuste este valor conforme necessário */
     /* Ajuste este valor conforme necessário */  

    }

    .carousel-caption h5{ 
    font-family: 'system-ui', 'sans-serif';
    font-weight: 700;
    font-size: 2.25rem;
    color: rgb(250, 252, 255);
    text-shadow: 2px 2px 2px black;
    } 
    .carousel-item{
    
    padding:0px ;
        
        }
   
    } 

    main, section, form{
    margin: 10px auto;
    max-width: 100%;
    padding: 5px;
    }
    
#foto{
    display: block;
    margin-top: 1.5em;
    width: 48em;
    height: 20em;
    margin-right: auto;
}

#foto img{ 
    height: 100%;
    object-fit: cover;
}

#foto2 { 
    display: block;
    margin-top: 8em;
    margin-left: auto;
    width: 48em;
    height: 20em;
    padding: 0%;

}
#foto2 img{ 
    height: 100%;
    width:100%;
    object-fit: cover;
}

.card-title2{ 
    margin-left: 24.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.card-texto2{ 
    display: block;
    margin-top: -15em;
    margin-left: 2.5em;  
    
}
.card-texto2 h1{
    opacity: 100; 
    transform: translateX(0.5em); 
    transition: opacity 1s ease-in, transform 1.5s ease-out;
    width: 10em;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;

}

.card-texto3{ 
    display: block;
    margin-left: 54em;
    margin-top: -15em;  
    
}
.card-texto3 h1{
    opacity: 100; 
    transform: translateX(-0.5em); 
    transition: opacity 1s ease-in, transform 1.5s ease-out;
    

    width: 10em;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;


}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Contém o texto */
  }
  
  
 
  
  
  small{
    color: rgb(255, 255, 255);}

.card h3, p {
    
    text-align: center;}


.card-img-top{ 
    
    width: auto;
    height: 20em;
}

.card {
    font-family: 'system-ui', 'sans-serif';
    padding: 1.25em;
    box-shadow: #00000015 0px 1px 0px 2px;
}

#foto { 
    padding: 0%;
}

header h1{
    font-weight: bolder;
    color: white;
    font-size: 60px;
    margin: 0px;
    padding: 100px;    
    font-family: 'Roboto', 'Courier','sans-serif';
}

header {
    background-color: rgb(49, 190, 255);}

h2{
    font-family: 'Roboto';
    font-weight: 600
}
    
.texts{
    margin-top: 100em;
}


footer{
    padding: 1.5em;
    border-radius: 8px;
    margin-top: 8.5em;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    height: 14.5em;
    box-shadow: #0000001c 0px 0px 11px 3px;
}

footer p, a{ 
    text-align: center;
    text-decoration: none;
}

footer h5{
    margin-left: 0.6em;
}

.negrito{ 
    font-weight: bold;
    font-size: 20px
}